# CHAPTER 7 - DICTIONARIES AND SETS

## DICTIONARIES

In certain context, lists/tuples have a limitation where you do not know what the "meaning" of each element is. For example, we used `days_in_months = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]` to represent the the days in months with the assumption that the index corresponds to month digit.

In [1]:
days_in_months = {
    'Jan': 31,
    'Feb': (28,29),
    'Mar': 31,
    'Apr': 30,
    'May': 31,
    'Jun': 30,
    'Jul': 31,
    'Aug': 31,
    'Sep': 30,
    'Oct': 31,
    'Nov': 30,
    'Dec': 31,
}

- The"name is called a "key"
- The value is called a "value"
- Together they are called a key-value pair
- Key is the 'index' to access the corresponding value
- Python dictionary (since v3.6) keep the key values in the order they were inserted

### Creating a Dictionary
- There are two ways to create a dictionary

#### Method 1

In [2]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

#### Method 2

In [3]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

### Accessing a Value

In [4]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

print(my_dict['name']) # Method 1

key = 'name' # Method 2 -- use a variable key
print(my_dict[key])

john
john

### Iterating Over a Dictionary

#### By Values

In [5]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
for key in my_dict.keys():
    print(key)

name
email
id
major

#### Key-Value Pair

In [6]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
for key, value in my_dict.items():
    print(f'key is {key} and value is {value}')

key is name and value is john
key is email and value is john@email.com
key is id and value is 1234
key is major and value is Engineering

### Checking if a Key Exists

In [7]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

key = 'Major'
if key in my_dict:
    print(True)
else:
    print(False)

False

### Dictionary Comprehension

```python
{ ele:f(ele) for ele in sequence }

{ ele:f(ele) for ele in sequence if condition }

{ ele:f(ele) if condition else g(ele) for ele in sequence }

{ ele:f(ele) for ele in sequence if condition1 and condition2}
```

In [8]:
{num: num*num for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Zipping two lists

In [9]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [10]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

## SETS

- Formal mathematical sets
- **Do not have duplicate values**
- Are not ordered
- Cannot access via index. 
- Useful for doing set operations
- Can have different data types

In [11]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

### Check if a value belongs

In [12]:
2 in A

True

### Union -- all values

In [13]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

### Intersection -- shared values

In [14]:
A & B

{2, 4}

### Difference -- order matters

In [15]:
print(A - B)
print(B - A)

{0, 8, 6}
{1, 3, 5}

### Check Subset

In [16]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B <= A

True

In [17]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B > A

False

### Adding a single element

In [18]:
A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [19]:
A = {1, 2, 3, 4, 5}
A.add(1)
print(A)

{1, 2, 3, 4, 5}

### Symmetric difference

In [20]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
A ^ B

{1, 2, 5}