# CHAPTER 5 - LISTS AND TUPLES

- So far we have covered the following data types: `int`, `float`, `str`, `None` and `bool`. Now we will cover `list`, and `tuple` which are a sequence data types. 
- Data types in Python can be classified as `mutable` and `immutable`. 
    - Immutable data types are: `int`, `float`, `bool`, and `tuple`
    - Mutable data types are: `list`, `dict`, and `set`
    - NOTE: In other programming language, data types such as ints and floats are passed to a function using `pass-by-value` and
    data types such as arrays are `pass-by-reference`. This means that changes made to ints and floats inside a function do not change the value outside of the function because they were passed a copy (independent copy). As for arrays, they are passed to a function as a reference, so changes made to the array persist outside the function. 
    - NOTE: In Python, however, everything is passed to a function using `pass-by-object-reference`.

- In many programming languages there are two ways to pass arguments--pass-by-value and pass-by-reference (sometimes called call-by-value and call-by-reference, respectively):
    - With pass-by-value, the called function receives a copy of the argument's value and works exclusively with that copy. Changes to the function's copy do not affect the original variable's value in the caller.
    - With pass-by-reference, the called function can access the argument's value in the caller directly and modify the value if it's mutable.

## LISTS

`list` is a container for storing a sequence of values. The values can be of different type. When the values are all `int`, `float`, or `bool`, you can use special functions.

### List Index
An index is used to access a particular element in a list. All the elements in the list get a number or index. The element numbering starts at 0, which means that the first element is accessed using 0, the second element is accessed using 1, etc. Since the numbering starts at 0, Python indexing is called 0-indexed. The square brackets on a list with index number lets you access a particular element: my_list[0] will access the first element in the list.

### Creating a list

In [1]:
grades = ['A', 'B', 'C', 'D', 'F']
days_in_months = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
grades_count = [20, 40, 10, 2, 3]

### Accessing a list

In [2]:
print(grades[0])
print(grades[1])
print(days_in_months[11])
print(days_in_months[3])
print(days_in_months[0])

A
B
30
31
0

### Slicing a list
- List slicing allows you to pick out specific elements from a list. In oder to understand the list slicing, you need to know five things:
  1. Start index -- this is the index from which the slice of a list is taken. This index is included.
  2. End Index -- this is the index to which the slice is taken up to but not including.
  3. Step size -- you can specify a skip factor that allows you to skip certain number of values
  4. the colon is used separate start and end index and the step size.
  5. Start index, end index, and step size are all optional, but you need at least one
- Here are some variations of slicing:
  1. start index, but no end index -- my_list[3:] -- will take all elements from index 3 to the end of list, including the last value
  2. end index, but no start index -- my_list[:10] -- will take all elements from start of the of the list to index 10, but not include value at index 10
  3. both start and end index -- my_list[3:10] -- this will include all elements from index 3 all the way up to index 10, but not include index 10.
  4. start and end index and step size -- my_list[3:10:2] -- same as #3 but take every other element.
  5. no start index, end index, and step size -- my_list[:10:2] -- take all elements from start of list to index number 10, but not including index number 10; also take every other element.

In [8]:
print(grades[2:4])
print(grades[1::1])
print(grades[0::2])
print(grades[1::3])

['C', 'D']
['B', 'C', 'D', 'F']
['A', 'C', 'F']
['B', 'F']

### -1 Index
- Index -1 means the last index in the list
- `grades[::-1]` -- This starts at the end of the list and ends at position zero by stepping backward because of `-1` index.

In [9]:
grades = ['A', 'B', 'C', 'D', 'F']
print(grades[-1]) # returns the last element in the list
print(grades[::-1]) # this is taking all the elements in the list but in reverse order; can be used to reverse a string

F
['F', 'D', 'C', 'B', 'A']

### Reassigning a list

In [10]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[0] = 'a'
print(grades)
grades[1:2] = 'a'
print(grades)
grades[2:] = ['d', 'f']
print(grades)

['a', 'B', 'C', 'D', 'F']
['a', 'a', 'C', 'D', 'F']
['a', 'a', 'd', 'f']

### Deleting from a list

In [11]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]
print(grades)
del grades[1:3]
print(grades)
del grades

['B', 'C', 'D', 'F']
['B', 'F']

In [14]:
grades = ['A', 'B', 'C', 'D', 'F']
print(grades.pop()) # deletes the last element in list and returns it 
print(grades.pop(0)) # deletes the first element in list and returns it
print(grades.pop(2)) # deletes the fourth element in list and returns it

F
A
D

### The Multiplication Operator

In [15]:
grades = ['A', 'B', 'C', 'D', 'F']
grades *= 3
print(grades)

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

### Can store different data types

In [16]:
my_list = ['A', 1, 'Spam', True]
my_list2 = [['John', [55, 65, 86]], ['Jane', [70, 80, 80]]]

### `in` Operator
- The `in` operator returns `True` if an element exists in a list

In [17]:
my_list = ['A', 1, 'Spam', True]
'A' in my_list

True

### Built-in List Functions
- `len()` calculate length of list
- `max()` calculate max of list
- `min()` calculate min of list
- `sum()` calculate sum of list
- `sorted()` return a sorted list
- `list()` cast to type list -- convert tuple to list or a generator to list
- `any()` return `True` if the truthiness of any value is `True` in the list
- `all()` return `True` if the truthiness of all the values is `True` in the list

### List unpacking

In [18]:
a, b = [3,4]

### List methods (functions)
Lists supports the following methods:
- `append(value)` - add an element to the end of a list
- `insert(index, value)` - insert an element to the list at the specified location
- `remove(value)` - remove the first matching value from a list 
- `pop()` - remove the last element in the list; also returns the value; you can save this to another variable
- `pop(index)` - remove the element at specified index in the list; also returns the value; you can save this to another variable
- `clear()` - empty the list
- `index(element)` - return position of first matching element
- `count(element)` - return the number of elements in the list that match `element`;
- `sort()` - sort the list in place 
- `reverse()` - reverse the list in place

## TUPLES

- Tuples just like lists except that they are immutable. Once you have created a tuple, you cannot modify it. 
- Why use them?
  - Faster than lists
  - Make code safer -- because you cannot change it
  - Valid keys in a dictionary

In [19]:
my_tuple = (1, 2, 3, [4, 5, 6])
my_tuple[3].append(7)
print(my_tuple)

(1, 2, 3, [4, 5, 6, 7])

## STRINGS AS LISTS

In [20]:
# Remember, strings are a sequence, so you can index them.
my_string = 'Doe, John'
print(my_string[0])
print(my_string[-1])
print(my_string[2])

D
n
e

### Splitting a Name

In [22]:
my_string = 'Doe, John'
print(my_string.split())
print(my_string.split(','))
print(my_string.split(', '))

['Doe,', 'John']
['Doe', ' John']
['Doe', 'John']

### Splitting a Date

In [23]:
# Example 1
date = '2023/05/23'
print(date.split('/'))

year, month, day = date.split('/')
print(year, month, day)
print(int(year), int(month), int(day))

['2023', '05', '23']
2023 05 23
2023 5 23

In [25]:
# Example 2
date = '05-23-2023'
print(date.split('-'))

month, day, year = date.split('-')
print(month, day, year)
print(int(month), int(day), int(year))

['05', '23', '2023']
05 23 2023
5 23 2023

In [26]:
# Example 3
date = '05-23-2023'

month, day, year = date[:2], date[3:5], date[6:]
print(month, day, year)
print(int(month), int(day), int(year))

05 23 2023
5 23 2023

### Limiting Splits

In [27]:
my_string = 'range=start=3;end=20;step=2'
print(my_string.split('=', 1))

['range', 'start=3;end=20;step=2']

In [28]:
my_string = 'range=start=3;end=20;step=2'
range_options = my_string.split('=', 1)[1]
start, end, step = range_options.split(';')
start = start.split('=')[1] # or [-1]
end = end.split('=')[1] # or [-1]
step = step.split('=')[1] # or [-1]
print(start, end, step)

3 20 2

### Spliting Lines

In [29]:
long_string='First line\nSecond line\nThird line'
print(long_string.split())
print(long_string.split('\n'))
print(long_string.splitlines())

['First', 'line', 'Second', 'line', 'Third', 'line']
['First line', 'Second line', 'Third line']
['First line', 'Second line', 'Third line']

### Checking Character Type Manually

In [30]:
my_string = 'EaS503!'

def char_type(char):
    if 'A' <= char <= 'Z':
        return 'Upper Case'
    elif 'a' <= char <= 'z':
        return 'Lower Case'
    elif '0' <= char <= '9':
        return 'Digit'
    else:
        return 'Not Alpha Numeric'


print(my_string[0], char_type(my_string[0]))
print(my_string[1], char_type(my_string[1]))
print(my_string[2], char_type(my_string[2]))
print(my_string[3], char_type(my_string[3]))
print(my_string[4], char_type(my_string[4]))
print(my_string[5], char_type(my_string[5]))
print(my_string[6], char_type(my_string[6]))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric