# CHAPTER 6 - LOOPS

## LOOPS

```Python
for <ele> in <sequence>:
    <body>
```

- The loop index variable `ele` takes on each successive value in the sequence, and the statements in the body of the loop are executed once for each value.
- For loops have a limitation -- you have to know how many times you are looping -- it is a definite loop. The number of iterations is determined when the loop starts. If you do not know how many times you will be looping, use a while loop, which is an indefinite loop that will continue to loop until its condition is no longer true.

```Python
while <condition>
    <body>
```

### Controlling Loops

- `break` - Used to break a loop
- `continue` - Used to skip the current loop and go to the next value

### Range

```Python
range(start,stop,step) # [start:step:stop)
```

### Examples

In [2]:
# Example 1
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [3]:
# Example 2
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [4]:
# Example 3.1
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [5]:
# Example 3.2
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [6]:
# Example 4
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [7]:
# Example 5
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [8]:
# Example 6
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [9]:
# Example 7
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [10]:
# Example 8
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [15]:
# Sum Numbers in an Array
x = [1, 7, 3]

sum = 0
for ele in x:
    sum = sum *10 + ele
print(sum)

173

In [14]:
# Sort without sorting
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [16]:
# How to sum an integer?
number = 1234
sum = 0
while number:
    sum += number % 10
    number = number // 10 
print(sum)

10

### File Handling

```python
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
        # do something with line
```

### Initial Values

Sometimes before the for loop code you to have initialize a variable to 0 or an empty list.
1. If you want to calculate the average or sum of a list, for example, you would need to initialize a variable to zero and update it every time you access a new element in a list.

In [19]:
total = 0
count = 0
my_list = [4, 10, 3, 8, -6]
for value in my_list:
   total += value
   count += 1
average = total / count

2. If you want to keep track of some values as you loop over some list, you might need to initialize an empty list. One example is removing duplicates from a sequence.

In [22]:
unique_values = []
for ele in range(0,10):
    if ele not in unique_values:
        unique_values.append(ele)
print(unique_values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## FOR LOOP EXERCISE

### Exercise 1
Write a function that takes in a list of values and returns its sum

In [23]:
def sum_list(input_list):
    summed_values = 0
    for value in input_list:
        summed_values += value

    return summed_values


print(sum_list([1, 2, 3, 4]))

10

### Exercise 2
Write a function that takes in a list of values and returns its average

In [27]:
def avg_list(input_list):
    summed_values = 0
    number_of_values = 0
    for value in input_list:
        summed_values += value
        number_of_values += 1

    return summed_values / number_of_values


print(avg_list([1, 2, 3, 4]))

2.5

### Exercise 3
Write a function that takes in a list of values and returns its average. Instead of using a for loop as in ex2, use sum_list() and len() to calculate the average

In [31]:
def avg_list(input_list):

    return sum_list(input_list) / len(input_list)

print(avg_list([1, 2, 3, 4]))

2.5

### Exercise 4
Write a function that multiplies the elements of the list by two and returns them

In [32]:
def multiply(input_list):
    output = []

    for ele in input_list:
        output.append(ele * 2)

    return output


print(multiply([1, 2, 3, 4]))

[2, 4, 6, 8]

### Exercise 5
Write a pow() function that computes the power of each element in a list

In [33]:
def pow(input_list, power):
    output = []

    for ele in input_list:
        output.append(ele ** power)

    return output


print(pow([1, 2, 3, 4], 2))
print(pow([1, 2, 3, 4], 3))

[1, 4, 9, 16]
[1, 8, 27, 64]

### Exercise 6
Write a function to remove duplicate from a list

In [34]:
def remove_duplicate(input_list):
    return list(set(input_list))

print(remove_duplicate([1, 2, 3, 4, 4, 5, 1]))

[1, 2, 3, 4, 5]

## WHILE LOOP EXERCISE

### Exercise 1
Write a program that takes integers from the user and returns the average. Use a while loop and make an empty string the stop criteria.

In [36]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

input_string = input('Enter an integer. Enter nothing to quit: ')

while input_string:
    summed_values += int(input_string)
    number_count += 1
    input_string = input('Enter an integer. Enter nothing to quit: ')


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, average))

Enter an integer. Enter nothing to quit:  12
Enter an integer. Enter nothing to quit:  3
Enter an integer. Enter nothing to quit:  4
Enter an integer. Enter nothing to quit:  5
Enter an integer. Enter nothing to quit:

The average of 4 numbers is 6.000000

### Exercise 2
Write a program that takes integers from the user and returns the average. Use a while loop and make negative number the stop criteria.

In [37]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

number = int(input('Enter an integer. Enter negative number to quit: '))

while number >=0:
    summed_values += int(number)
    number_count += 1
    number = int(input('Enter an integer. Enter nothing to quit: '))


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

Enter an integer. Enter negative number to quit:  12
Enter an integer. Enter nothing to quit:  -2

The average of 1 numbers is 12.000000

### Exercise 3
Write a program that takes test grades from the user and returns their average and the letter grade of the average.Use a while loop and make negative number the stop criteria. A >=90 B 80-89 C 70-79 D 60-69 F 59 or less

In [41]:
test_grades = 0  # a container to store the sum of interger values collected
number_tests = 0  # a container to store the number of integer values collected

number = int(input('Enter a test grade. Enter negative number to quit: '))

while number >=0:
    test_grades += int(number)
    number_tests += 1
    number = int(input('Enter a test grade. Enter negative number to quit: '))


average = test_grades / number_tests


if 90 <= average:
    letter_grade = 'A'
elif 80 <= average <= 89:
    letter_grade = 'B'
elif 70 <= average <= 79:
    letter_grade = 'C'
elif 60 <= average <= 69:
    letter_grade = 'D'
elif 60 >= average:
    letter_grade = 'F'


print(average, letter_grade)

Enter a test grade. Enter negative number to quit:  100
Enter a test grade. Enter negative number to quit:  90
Enter a test grade. Enter negative number to quit:  99
Enter a test grade. Enter negative number to quit:  -1

96.33333333333333 A

### Exercise 4
Write a program that takes an integer and counts down to zero -- print the value

In [42]:
number = int(input('Enter a starting number: '))

while number >= 0:
    print(number)
    number -= 1

Enter a starting number:  1

1
0

### Exercise 5
Write a program that takes an integer number and outputs all the even numbers starting from 0 to the number

In [43]:
end_number = int(input('Enter an integer number: '))
current_number = 0
while current_number <= end_number:
    if current_number % 2 == 0:
        print(current_number)
    current_number += 1

Enter an integer number:  6

0
2
4
6

## MODIFY LOOP EXERCISE

### Exercise 1
Write a function that prints from 1 to n using a for loop, it should skip every multiple of 5.

In [45]:
def modify_loop_ex1(n):
    for number in range(n):

        if number % 5 == 0:
            print('Skipping:', number)
            continue

        print(number)
modify_loop_ex1(13)

Skipping: 0
1
2
3
4
Skipping: 5
6
7
8
9
Skipping: 10
11
12

### Exercise 2
Write a function that prints from 1 to n squared using a while loop. It should stop the while loop if the iteration count is 50.

In [46]:
def modify_loop_ex2(n):

    iteration_count = 0
    number = 1
    while number <= n:

        if number == 50:
            break

        print(number)
        number += 1
        iteration_count += 1

modify_loop_ex2(12)

1
2
3
4
5
6
7
8
9
10
11
12

## COMPREHENSIONS

### List Comprehension
- Unique to Python
- Three variations

```python
[ f(ele) for ele in sequence ]

[ f(ele) for ele in sequence if condition ]

[ f(ele) if condition else g(ele) for ele in sequence ]

[ f(ele) for ele in sequence if condition1 and condition2]

```

### Tuple Comprehension
- Tuple Comprehension returns a generator
- Generators generate one-time use values

```python
( f(ele) for ele in sequence )

( f(ele) for ele in sequence if condition )

( f(ele) if condition else g(ele) for ele in sequence )

```

### List Comprehension Exercises

#### Exercise 1
Re-write the following code to use List Comprehension
```python
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
```

In [50]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
new_list = [ele*ele for ele in my_list]
print(new_list)

[1, 4, 9]

#### Exercise 2
Re-write the following code to use List Comprehension
Multiply each number by 10

```python
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
```

In [51]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
new_list = [ele*10 for ele in my_list]
print(new_list)

[10, 20, 30]

#### Exercise 3
Upper case each letter in animal variable

```python
animal = 'buffalo'
```

In [52]:
animal = 'buffalo'
[char.upper() for char in animal]

['B', 'U', 'F', 'F', 'A', 'L', 'O']

#### Exercise 4
Title each name in the student list

```python
students = ['john', 'jane', 'doe']
```

In [53]:
students = ['john', 'jane', 'doe']
[student[0].upper()+student[1:] for student in students]
students = ['john', 'jane', 'doe']
print([student.title() for student in students])

['John', 'Jane', 'Doe']

#### Exercise 5
Use list comprehension to get the Truthiness of each element in `my_list`

```python
my_list = [0, '', []]
```

In [54]:
my_list = [0, '', []]
[bool(ele) for ele in my_list]

[False, False, False]

#### Exercise 6
Convert each element of my_list to str using list comprehension

```python
my_list = range(6)
```

In [55]:
my_list = range(6)
[str(element) for element in my_list]

['0', '1', '2', '3', '4', '5']

#### Exercise 7
Use list comprehension to reduce a list of numbers to just even or odd

```python
numbers = range(20)
```

In [56]:
numbers = range(20)
even = [number for number in numbers if number % 2 == 0 ]
odd = [number for number in numbers if number % 2 != 0 ]

#### Exercise 8
Use list comprehension to modify a list of numbers such that evens are left as is
and the odds are raised to the three power

```python
numbers = range(10)
```

In [57]:
numbers = range(10)
[number if number % 2 == 0 else number**3 for number in range(10)]

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

#### Exercise 9
Use list comprehension to remove vowels from a sentence

```python
sentence = 'I rEAlly want to gO to work'
```

In [58]:
sentence = 'I rEAlly want to gO to work'
''.join([char for char in sentence if char.lower() not in 'aeiou'])

' rlly wnt t g t wrk'